{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center mb-3"><h2>Dashboard</h2></div>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center ">Total Customers</h5>
                <p class="card-text d-flex justify-content-center ">{{ total_customers }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Bottles at Site</h5>
                <p class="card-text d-flex justify-content-center">{{ total_bottles }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Daily Sales</h5>
                <p class="card-text d-flex justify-content-center">{{ daily_total }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Monthly Sales</h5>
                <p class="card-text d-flex justify-content-center">{{ monthly_total }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
