{% extends 'base.html' %}
{% block content %}
<h2>Transactions</h2>
<a class="btn btn-success mb-3" href="{% url 'transaction_add' %}">Add Transaction</a>
<table class="table table-bordered">
    <thead>
        <tr><th>Customer</th><th>Date</th><th>Amount</th><th>Type</th></tr>
    </thead>
    <tbody>
    {% for t in transactions %}
        <tr>
            <td>{{ t.customer.name }}</td>
            <td>{{ t.date }}</td>
            <td>{{ t.amount }}</td>
            <td>{{ t.transaction_type }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
